{% extends 'base.html' %}
{% load static %}




{% block content %}
<h1>Forgotten your password?</h1>
<br><br>
<h3>Enter your e-mail address to obtain a new password.</h3>
<br>
<form action="." method="post">
{{ form.as_p }}
<br>
<p><input type="submit" value="Send e-mail" class="btn btn-block btn-success"></p>
{% csrf_token %}
</form>
{% endblock content %}


<!-- footer -->
	<div class="footer agileits-w3layouts">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>company</h3>
					<ul>
						<li><a href="/about">About Us</a></li>
						<li><a href="/contact">Contact Us</a></li>  
						<li><a href="/careers">Careers</a></li>  
						<li><a href="/help">Partner With Us</a></li>   
					</ul>
				</div> 
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>help</h3>
					<ul>
						<li><a href="/faq">FAQ</a></li> 
						<li><a href="/accounts/login">Returns</a></li>   
						<li><a href="/accounts/login">Order Status</a></li> 
						<li><a href="/offers">Offers</a></li> 
					</ul>  
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>policy info</h3>
					<ul>  
						<li><a href="/terms">Terms & Conditions</a></li>  
						<li><a href="/privacy">Privacy Policy</a></li>
						<li><a href="/accounts/login">Return Policy</a></li> 
					</ul>   
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>Menu</h3> 
					<ul>
						<li><a href="/Menu">All Day Menu</a></li> 
						<li><a href="/Menu">Breakfast</a></li> 
						<li><a href="/Menu">Lunch</a></li>
						<li><a href="/Menu">Dinner</a></li>
						
					</ul>  
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div>
	<div class="copyw3-agile"> 
		<div class="container">
			<p>&copy; Tiffin Time. All rights reserved | </a></p>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src={% static "js/minicart.js" %}></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->	
	<!-- Owl-Carousel-JavaScript -->
	<script src={% static "js/owl.carousel.js" %}></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 3,
				lazyLoad : true,
				autoPlay : true,
				pagination : true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->  
	<!-- start-smooth-scrolling -->
	<script src={% static "js/SmoothScroll.min.js" %}></script>  
	<script type="text/javascript" src={% static "js/move-top.js" %}></script>
	<script type="text/javascript" src={% static "js/easing.js" %}></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	  
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "js/bootstrap.js" %}></script>
</body>
</html>
