{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
{% if validlink %}
<br>
<h4>Please enter your new password twice:</h4>
<br>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <br>
 <p><input type="submit" class="btn btn-block btn-success" value="Change my password" /> </p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}