{% load cart_template_tags %}
{% load static %}
  <aside class="main-sidebar sidebar-light-red elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-dark">Tiffin Time</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'customer_profile' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'index' as customer_home %}
            <a href="{{ customer_home }}" class="nav-link {% if request.path == customer_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'customer_order_history' as customer_order_history %}
            {% url 'customer_order_information' as customer_order_information %}
            <a href="{{ customer_order_history }}" class="nav-link {% if request.path == customer_order_history %} active {% endif %} {% if request.path == customer_order_information %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                View Orders
              </p>
            </a>
          </li>
           <li class="nav-item">
            {% url 'core:order-summary' as ordersummary %}
            <a href="{% url 'core:order-summary' %}" class="nav-link {% if request.path == ordersummary %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                My Cart
              </p>
            </a>
          </li>
           <li class="nav-item">
            {% url 'customer_feedback' as customer_feedback %}
            <a href="{{ customer_feedback }}" class="nav-link {% if request.path == customer_feedback %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Feedback Message
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            {% url 'customer_all_notification' as customer_all_notification %}
            <a href="{{ customer_all_notification }}" class="nav-link {% if request.path == customer_all_notification %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Notifications
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>