<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Tiffin Time</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
{% load static %}
<link href={% static "css/bootstrap.css"%} type="text/css" rel="stylesheet" media="all">
<link href={% static "css/style.css"%} type="text/css" rel="stylesheet" media="all">  
<link href={% static "css/font-awesome.css"%} rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet"  href={% static "css/owl.carousel.css"%} type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
<!-- //Custom Theme files --> 
<!-- js -->
<script src={% static "js/jquery-2.2.3.min.js" %}></script>  
<!-- //js -->
<!-- web-fonts -->   
<link href={% static "//fonts.googleapis.com/css?family=Berkshire+Swash" %}rel="stylesheet"> 
<link href={% static "//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" %}rel="stylesheet">
<!-- //web-fonts -->
{% block extrahead %}
{% endblock %}
</head>
<body> 
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="w3ls-header"><!-- header-one --> 
				<div class="container">
					<div class="w3ls-header-left">
						<p>Free home delivery at your doorstep For Above Rs.1000</p>
					</div>
					<div class="w3ls-header-right">
						<ul> 
							<li class="head-dpdn">
								<i class="fa fa-phone" aria-hidden="true"></i> Call us: +01 222 33345 
							</li> 
							<li class="head-dpdn">
								<a href="accounts\login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
							</li> 
							<li class="head-dpdn">
								<a href="accounts\customer_register\"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
							</li> 
						</ul>
					</div>
					<div class="clearfix"> </div> 
				</div>
			</div>
			<!-- //header-one -->    
			<!-- navigation -->
			<div class="navigation agiletop-nav">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header w3l_logo">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>  
							<h1><a href="/home">Tiffin Time<span>Best Home-Made Food Collection</span></a></h1>
						</div> 
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home" >Home</a></li>	
								<!-- Mega Menu -->
								<li class="dropdown">
									<a href="/Menu" class="active" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
									<ul class="dropdown-menu multi-column columns-3">
										<div class="row">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<h6>Food type</h6>  
													<li><a href="/Menu">Breakfast</a></li> 
													<li><a href="/Menu">Lunch</a></li> 
													<li><a href="/Menu">Dinner</a></li> 
												</ul>
											</div>
											
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<h6>Food</h6> 
													<li><a href="/Menu">Veg</a></li> 
													<li><a href="/Menu">Non-veg</a></li> 
												</ul>
											</div> 
											<div class="clearfix"></div>
										</div>
									</ul>
								</li>
								
								<li><a href="/contact">Contact Us</a></li>
							</ul>
						</div>
						
					</nav>
				</div>
			</div>
			<!-- //navigation --> 
		</div>
		<!-- //header-end --> 			<!-- banner-text -->
		<div class="banner-text">	
			<div class="container">
				<h2>Delicious food from the <br> <span>Best Chefs For you.</span></h2> 
			</div>
		</div>
	</div>
	<!-- //banner -->    
	<!-- breadcrumb -->  
	<div class="container">	
		<ol class="breadcrumb w3l-crumbs">
			<li><a href="/home"><i class="fa fa-home"></i> Home</a></li> 
			<li class="active">Menu</li>
		</ol>
	</div>
	<!-- //breadcrumb -->
	<!-- menu list -->   	
	<div class="wthree-menu">  
		<img src="images/i2.jpg" class="w3order-img" alt=""/>
		<div class="container">
			<h3 class="w3ls-title">Menu</h3>
			<p class="w3lsorder-text">Here are your Food Varieties</p>
			<div class="menu-agileinfo">  
				<div class="col-md-4 col-sm-4 col-xs-6 menu-w3lsgrids"> 
					<a href="/Menu?category=1"> Breakfast</a>
				</div> 
				<div class="col-md-4 col-sm-4 col-xs-6 menu-w3lsgrids"> 
					<a href="/Menu?category=2"> Lunch</a>
				</div> 
				<div class="col-md-4 col-sm-4 col-xs-6 menu-w3lsgrids"> 
					<a href="/Menu?category=3"> Dinner</a>
				</div> 
				<div class="clearfix"> </div> 
			</div> 
		</div> 
	</div>
	<!-- //menu list --> 

<!--Section: Products v.3-->
     <section>	
<div class="row mx-auto">
{% for product in products %}
 <div class="col-sm-4"> 
<div class="card mx-auto mb-3" style="width:450px border-primary">
<a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
  <img src="{{product.image.url}}" class="card-img-top" alt="Image" style="width: auto; height: 280px; object-fit: scale-down;">
  <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
				<a href="{{ product.get_absolute_url }}" class="dark-grey-text">
				{% if product.get_label_display %}
                      <span class="badge badge-pill {% if product.get_label_display == 'New' %} danger-color {% else %} primary-color {% endif %}">{{ product.get_label_display }}</span>
                    </a>
					{% endif %}
    <h4 class="card-title">{{product.name}}</h4>
    <p class="card-text">Price : <strong>Rs
                  {% if product.discount_price %}
                  {{ product.discount_price }}
                  {% else %}
                  {{ product.price }}
                  {% endif %}
                  </strong></p>
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary"><strong>More Info</strong></a>
  </div>
  </div>
 {% endfor %}
 </div>

</section>
<br>
<br>
<br>

	<div class="copyw3-agile"> 
		<div class="container">
			<p>&copy; Tiffin Time. All rights reserved | </a></p>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src={% static "js/minicart.js" %}></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->	
	<!-- Owl-Carousel-JavaScript -->
	<script src={% static "js/owl.carousel.js" %}></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 3,
				lazyLoad : true,
				autoPlay : true,
				pagination : true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->  
	<!-- start-smooth-scrolling -->
	<script src={% static "js/SmoothScroll.min.js" %}></script>  
	<script type="text/javascript" src={% static "js/move-top.js" %}></script>
	<script type="text/javascript" src={% static "js/easing.js" %}></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	  
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "js/bootstrap.js" %}></script>
</body>
</html>
